.projectsContainer {
    // max-width: 1300px;
    // width: 90%;
    padding: 0 50px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.projectsBlock {
    width: 100%;
}