@use "../../styles/colors.scss" as *;
.projectContainer {
    position: relative;
    // z-index: 1000000;
    transition: all 0.3s ease;
    height: 150px;
    &.expanded {
        height: 100%;
        // border: 1px solid red;
    }
    &.otherExpanded {
        height: 35px;
    }
    mix-blend-mode: difference !important;
}

.projectTitleContainer {
    cursor: pointer;
    position: relative;
    // z-index: 100000000;
    // z-index: 30;
    display: flex;
    align-items: center;
    height: 150px;
    // height: 50px;
    overflow: hidden;
    transition: all 0.3s ease;
    padding: 0 50px;
    //bullet
    img {
        width: 30px;
        margin-right: 30px;
        &.rotate {
            transform: rotate(180deg);
        }
    }
    &.expanded {
        height: 50px;
        // border: 1px solid red;
    }
    &.otherExpanded {
        height: 35px;
        pointer-events: none;
        // align-items: flex-end;
        // border-bottom: 2px solid black;
        img {
            width: 45px;
        }
    }
    &:hover {
        .arrow {
            img {
                animation: in 0.35s forwards;
                animation-timing-function: cubic-bezier(.95, 0, .66, 1)
            }
        }
    }
}

.wordContainer {
    // z-index: 20;
    // mix-blend-mode: difference;
    // isolation: isolate;
}

.otherIsActive {
    opacity: 0.5;
    // background-color: $grey1;
}

.ellipse {
    position: relative;
    margin-left: auto;
    opacity: 0;
    transition: all 0.25s;
    transition-timing-function: cubic-bezier(.86, .02, .55, .95);
    border: 2px solid $green3;
    border-radius: 50%;
    height: 50px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        height: 30px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    &.visible {
        opacity: 1;
    }
}

@keyframes out {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(200%);
    }
}

@keyframes in {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

.arrow {
    height: 100%;
    // border: 1px solid red;
    display: flex;
    align-items: center;
    // justify-content: center;
    // border: 1px solid red;
    // opacity: 0;
    margin-left: auto;
    // border: 3px solid $green3;
    // border-radius: 50%;
    // width: 60px;
    // transition: 0.3s ease;
    overflow: hidden;
    img {
        // border: 1px solid red;
        transform: translateX(-100%);
        width: 40px;
        animation: out 0.35s forwards;
        animation-timing-function: cubic-bezier(.95, 0, .66, 1)
    }
    &.visible {
        opacity: 1;
        // transform: translateX(-0%);
        // img {
        //     animation: in 0.35s forwards;
        //     animation-timing-function: cubic-bezier(.95, 0, .66, 1)
        // }
    }
    // img {
    //     width: 70px;
    //     margin: 0 auto;
    // }
}