@use "../../styles/colors.scss" as *;
.wordContainer {
    position: relative;
    // bottom: 5px;
    width: calc(max-content + 30px);
    overflow: hidden;
    margin-right: 30px;
    // z-index: 205 !important;
    h2 {
        font-weight: 200;
        font-size: 2.5vw;
        font-size: 48px;
        letter-spacing: 4px;
        // font-family: "LeMurmure";
        // font-family: 'Inter', sans-serif;
        mix-blend-mode: difference;
        color: rgb(77, 77, 77);
    }
    &.view {
        margin: 0 auto;
        h2 {
            font-size: 1vw;
            color: $green3
        }
        .originalWord {
            opacity: 0;
        }
        .newWord {
            font-weight: 900 !important;
        }
    }
    &.otherExpanded {
        h2 {
            font-size: 2vw;
        }
        .letter {
            transition-delay: 0s;
        }
    }
}

.originalWord {
    // z-index: 205 !important;
}

// .wordContainer:hover .letter {
//     transform: translateY(-100%);
// }
.space {
    width: 10px;
}

.newWord {
    position: absolute;
    transform: translateY(-8%);
    font-weight: 300 !important;
    // font-family: 'Inter', sans-serif;
    font-style: italic;
    letter-spacing: 2px !important;
}

.letter {
    position: relative;
    display: inline-block;
    transition: all 0.25s;
    transition-timing-function: cubic-bezier(.86, .02, .55, .95);
    z-index: 20;
}

.letter_1 {}

.isHovered {
    transform: translateY(-90%);
}

@for $i from 0 through 20 {
    .letter_#{$i} {
        transition-delay: calc(#{$i}s * 0.01);
    }
}