@use "../../styles/colors.scss" as *;
.linesContainer {
    width: 100%;
    height: 100%; // todo calculate proper height and make canvas controller respond on resize
    margin-top: -10px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    @media (max-width: 1000px) {
        display: none;
    }
}

canvas {
    filter: blur(10px);
}